
		<cfset const.ADRESS = "t_adrdata">
        <cfset const.CHAT_GROUP = "t_staffApp_chatGroup">
        <cfset const.CHAT_MESSAGE = "t_staffApp_chatMessage">
        <cfset const.CHAT_MESSAGE_RECIPIENT = "message_recipient">
		<cfset const.CODE = "t_code">
        <cfset const.COLLECTION = "t_collection">
        <cfset const.COLLECTIONITEM = "t_collectionitem">
        <cfset const.COMPANY_CONFIG = "t_staffApp_companyConfig">
        <cfset const.CONFIG = "t_config">
        <cfset const.CONFIG_DEF = "t_config_def">
        <cfset const.CONTACTNOTE = "t_staffApp_contactnote">
		<cfset const.CORP = "t_corp">
        <cfset const.COUNTRY = "t_country">
        <cfset const.STAFFAPP_SHORTCUTS = "t_staffApp_shortcuts">
        <cfset const.STAFFAPP_USERSHORTCUTSETTINGS = "t_staffApp_userShortcutSettings">
        <cfset const.DOCS = "t_docs">
		<cfset const.EVENT = "t_event">
		<cfset const.EXPENSE = "t_expense">
        <cfset const.EXPENSEREPORT = "t_expensereport">
        <cfset const.EXPENSEIMAGE = "t_staffApp_expenseImage">
		<cfset const.ISSUE = "t_issue">
		<cfset const.ISSUESTEPACTION = "t_issue_step_action">
		<cfset const.ISSUEPROGRESS = "t_issue_progress">
		<cfset const.ISSUESTEP = "t_issue_step">
		<cfset const.ISSUETYP = "t_issue_typ">
		<cfset const.ISSUEPROGRESS = "t_issue_progress">
		<cfset const.ISSUECOMMENT = "t_issue_comment">
		<cfset const.ISSUEPACKAGE = "t_issue_package">
		<cfset const.ISSUEJOURNAL = "t_issue_journal">
		<cfset const.ISSUE_X_OBJECT = "t_issueXobject">
		<cfset const.LANG = "t_lang">
		<cfset const.LOG = "t_staffApp_log">
        <cfset const.NEWS = "t_staffApp_news">
        <cfset const.NEWSLIKES = "t_staffApp_newsLikes">
        <cfset const.NEWSCOMMENTS = "t_staffApp_newsComments">
        <cfset const.OBJRESOURCE = "t_objResource">
        <cfset const.OBJRESOURCEXEVENT = "t_objResourceXevent">
        <cfset const.PERSON = "t_person">
        <cfset const.PERSON_SETTINGS = "t_staffApp_personSettings">
        <cfset const.PERSON_X_RIGHT = "t_staffApp_personXright">
        <cfset const.PERSON_X_ROLE = "t_personXrole">
        <cfset const.PRODUCTION = "t_production">
        <cfset const.PRODUCTION_ITEM = "t_productionitem">
        <cfset const.PROJECTS = "t_project">
		<cfset const.PROJECTPARTS = "t_projpart">
		<cfset const.PROJECTPACKS = "t_projpack">
        <cfset const.QUALIFICATION = "t_qualification">
        <cfset const.QUALIFIER = "t_qualifier">
		<cfset const.RELATION = "t_rel">
		<cfset const.RELXGROUP = "t_relXgroup">
		<cfset const.ROLXPERSON = "t_rolXperson">
		<cfset const.PERSONXROLE = "t_personXrole">
        <cfset const.ROL_X_OCC = "t_rolXocc">
        <cfset const.ROLE = "t_role">
		<cfset const.STEP = "t_wfstep">
        <cfset const.TASKS = "t_wftask">
        <cfset const.TASKXOBJECT = "t_wftaskXobject">
        <cfset const.TIMESHEET = "t_timesheet">
        <cfset const.TEMP_NOTIFICATIONS = "t_staffApp_tempNotifications">
        <cfset const.USER = "dt_infofactory_user">
        <cfset const.USER_CHAT_GROUP = "t_staffApp_personXchatGroup">
        <cfset const.USER_NEW = "[user]">
        <cfset const.VEHICLES = "t_vehicles">
        <cfset const.WORKCOMMENT = "t_staffApp_workcomments">
        <cfset const.WAREHOUSE_TRANSACTION = "t_warehouse_transaction">
        <cfset const.DOCPATH = "t_docpath">

        <cfset const.OBJRESOURCE = "t_objResource">
        <cfset const.OBJRESOURCEXEVENT = "t_objResourceXevent">