 <!--- REMOTE ENVIRONMENT --->
        <cfset const.DATASOURCE = "bSuite_test"> 
        <cfset const.UPLOADDESCTINATION = "C:\lucee\tomcat\webapps\StaffApp-Backend\uploads">
        <cfset const.UPLOADDESTINATIONNOSYNC = "C:\lucee\tomcat\webapps\StaffApp-Backend\uploadsnosync">
        <cfset const.FILES = "C:\lucee\tomcat\webapps\StaffApp-Backend\files">
        <cfset const.BSUITEDOCROOTPATH = "C:\lucee\tomcat\webapps\ROOT\bSuite\">
        <cfset const.FILESLOCATION = "http://40.113.2.129:8888/StaffApp-Backend/files/">
        <cfset const.DOCUMENTSUPLOADDESTINATION = "C:\lucee\tomcat\webapps\StaffApp-Backend\documentUploads">
        <cfset const.UPLOADURL = "http://40.113.2.129:8888/StaffApp-Backend/uploads/">
        <cfset const.DOCUMENTUPLOADURL = "http://40.113.2.129:8888/StaffApp-Backend/documentUploads/">
        <cfset const.BSUITEDOCROOTURL = "http://40.113.2.129:8888/bSuite/_datamand/">
        <cfset const.DEFAULT_LOGO_PATH = "/StaffApp-Backend/companyLogos/modulpark.png">
        <cfset const.BACKGROUNDSLOCATION = "http://40.113.2.129:8888/StaffApp-Backend/backgroundImages/">
        <cfset const.BACKGROUNDSPATH = "C:\lucee\tomcat\webapps\StaffApp-Backend\backgroundImages\">
        <cfset const.LOGOSLOCATION = "http://40.113.2.129:8888/StaffApp-Backend/companyLogos/">
        <cfset const.LOGOSPATH = "C:\lucee\tomcat\webapps\StaffApp-Backend\companyLogos\">
        <cfset const.DEFAULT_BACKGROUND_PATH = "/StaffApp-Backend/backgroundImages/AppIT_background.jpg">
        <cfset const.FIREBASE_SEND_URL = "https://fcm.googleapis.com/fcm/send">
        <cfset const.FIREBASE_KEY = "key=AAAA63oBMX8:APA91bHGfmMFZXSJCvnj171C48mTuvUd9wvh572rY6ATxq2xHSVKPHrLJbTkEqKIoOdDQrj38uzbsgyAnxs58l5du6j0iS-EAGtUBU1M_RLgZFNHN_a5MGycwv8gQ7BON--bQADqoT6W">
        <cfset const.SYNCH_URL = "http://40.113.2.129/bSuite/StaffAppSynch/BSUITE_SynchDatafromStaffApp.cfc">

        <cfset const.VERIFICATION_TYPE = "2WayAuth">
        <cfset const.MAIL_HOST = "mail.appit.ba">
        <cfset const.MAIL_USERNAME = "faruk@appit.ba">
        <cfset const.MAIL_PASSWORD = "encrypted:72e134e964e5694ae8299b217e7633a2878d486d245b03a48ce8d49868d97e45">
        <cfset const.MAIL_SSL = false>
        <cfset const.MAIL_TLS = false>
        <cfset const.MAIL_PORT = 587>


        <cfset const.MAIL_IDENT = "Login_2WayAuth">
        <cfset const.MAIL_SENDER = "faruk@appit.ba">
        <cfset const.MAIL_RECEIVER_DOMAIN = "@sms.ecall.ch">
        <cfset const.MAIL_SUBJECT = "STAFF APP Login Code">
        

        <!---  DEV --->
         <!---
       
        <cfset const.DATASOURCE = "bsuite_test"> 
        <cfset const.UPLOADDESCTINATION = "/Users/tomcat/webapps/StaffApp-Backend/uploads">
        <cfset const.DOCUMENTSUPLOADDESTINATION = "/Users/tomcat/webapps/StaffApp-Backend/documentuploads">
        <cfset const.UPLOADURL = "http://localhost:8080/StaffApp-Backend/uploads/">
        <cfset const.DOCUMENTUPLOADURL = "http://localhost:8080/StaffApp-Backend/documentUploads/">
         --->
       


		